.advantage__header {
  text-align: center;
  text-transform: uppercase;

  &--light {
    padding: 45px 20px 42px;

    color: #ffffff;

    background-color: $main-theme;
  }

  &--dark {
    position: relative;

    padding: 33px 20px 31px;

    color: #000000;

    background-color: #eeeeee;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;

      display: block;

      border-bottom: 1px solid rgba(black, 0.1);
    }
  }

  &--uncommon {
    padding: 61px 20px 45px;

    background-image: url("/img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 -10px;
  }
}

.advantage--last-child .advantage__header::after {
  border-bottom: none;
}

.advantage__title {
  margin: 0 auto;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantage__number {
  margin: 14px 0;

  font-size: 14px;
  line-height: 21px;
}

.advantage__about {
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
}

.advantage__photo {
  width: 320px;
  height: 260px;
  overflow-x: hidden; // Временное решение. Вопрос подгонки изображения.

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.advantage__features {
  padding: 41px 20px 42px;

  font-family: $font-stack;
  color: #000000;
  text-transform: uppercase;
}

.advantage__feature {
  position: relative;

  margin-bottom: 38px;
  padding-left: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;

    width: 39px;
    height: 37px;

    background-size: 100% 100%;
  }
}

.advantage__feature-title {
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantage__feature-about {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: $font-color;
}

.advantage__feature--home::before {
  background-image: url("/img/icon-house.svg");
}

.advantage__feature--souvenirs::before {
  background-image: url("/img/icon-gift.svg");
}

.advantage__feature--food::before {
  background-image: url("/img/icon-burger.svg");
}
