.content-header {
  margin-top: 158px;
  padding: 40px 20px 30px;

  text-align: center;
  color: #000000;
  text-transform: uppercase;

  border-bottom: 1px solid #e5e5e5;
}

.content-header__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.content-header__intro {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: $font-color;
}

@media (min-width: 768px) {
  .content-header {
    width: 435px;
    margin: 346px auto 73px;
    padding: 0;
    padding-top: 73px;

    border-bottom: none;
  }
  .content-header__title {
    font-size: 30px;
  }
}

@media (min-width: 1215px) {
  .content-header {
    margin-top: 357px;
    padding: 0;
    padding-top: 108px;
  }
}
