.feedback-form {
  display: block;
  position: relative;

  padding: 0 20px;
}

.feedback-form__block {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 0 25px;

  text-transform: uppercase;

  border: none;


  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 40px); // + 40px of paddings
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: #e5e5e5;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.feedback-form__block:nth-of-type(3) .feedback-form__title {
    margin-bottom: 40px;
  }

.feedback-form__block:nth-of-type(2) .feedback-form__label {
    margin-bottom: 14px;
  }

.feedback-form__title {
  display: block;
  padding: 0;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback-form__element {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.feedback-form__label {
  position: relative;

  flex: 0 0 auto;
  margin-right: 13px;

  font-size: 14px;
  

  &--big {
    margin-bottom: 14px;
  }

  &--radio,
  &--checkbox {
    margin-bottom: 33px;
    padding-left: 78px;

    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }

  &--radio::before,
  &--checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 56px;
    height: 56px;

    background-color: #f2f2f2;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    background-color: #e5e5e5;
  }

  &--radio:active::before,
  &--checkbox:active::before {
    background-color: #d5d5d5;
  }
    
  &::before {
    transition: background-color 0.3s ease;      
   }
}

.feedback-form__label sup {
  top: -0.1em;
  font-size: inherit;
}

.feedback-form__label--radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 22px;
  height: 22px;

  background-color: rgba(#000, 0);
  border-radius: 50%;
  transform: translateY(2px) translateX(18px);
  transition: background-color 0.3s ease;
}

.feedback-form__radio-input:checked + .feedback-form__label--radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 22px;
  height: 22px;

  background-color: rgba(#000, 1);
  border-radius: 50%;
  transform: translateY(2px) translateX(18px);
}

.feedback-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 10px;
  height: 18px;

  border: transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: translateY(-70%) translateX(22px) rotate(45deg);
  transition: border-right-color 0.3s ease, border-bottom-color 0.3s ease;
}

.feedback-form__checkbox-input:checked + .feedback-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 10px;
  height: 18px;

  border: transparent;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  transform: translateY(-70%) translateX(22px) rotate(45deg);
}

.feedback-form__radio-input:checked + .feedback-form__label--radio:active::after {
  background-color: rgba(#333, 0.3);
  transition: background-color 0.2s ease;
}

.feedback-form__checkbox-input:checked + .feedback-form__label--checkbox:active::after {
  border-color: rgba(#333, 0.3);
  transition: border-color 0.2s ease;
}

.feedback-form__input {
  display: block;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  width: 175px;
  padding: 17px 20px 15px 22px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  background-color: #f2f2f2;
  border: none;
  outline: none;
  
  transition: background-color 0.3s ease;

  &[name="telephone"] {
    padding-right: 78px;
    background-image: url("/img/icon-phone.svg"), linear-gradient(to bottom, #e6e6e6, #e6e6e6);
    background-size: 18px 18px, 58px 58px;
    background-position: right 18px center, top right;
    background-repeat: no-repeat;
  }

  &[name="email"] {
    padding-right: 78px;
    background-image: url("/img/icon-mail.svg"), linear-gradient(to bottom, #e6e6e6, #e6e6e6);
    background-size: 18px 18px, 58px 58px;
    background-position: right 18px center, top right;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #fff;
    outline: 4px solid #e5e5e5;
  }

  &::placeholder {
    color: black;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus::placeholder {
    opacity: 0;
  }

}

.feedback-form__error {
  display: none;
  padding-top: 10px;
  padding-left: 21px;

  text-transform: none;
  font-size: 14px;
  color: #ff5c5c;

  &--visible {
    display: block;
  }
}

.feedback-form__radio-input,
.feedback-form__checkbox-input {
  display: none;
}

.feedback-form__textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 160px;
  margin: 0;
  padding: 22px 21px;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
  outline: none;

  &::placeholder {
    color: black;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.feedback-form__submit {
  display: block;
  width: 280px;
  margin: 25px auto;
  padding: 17px 0 19px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #88b6d1;

    background-color: #5496bd;
  }

  &:disabled {
    color: inherit;

    background-color: #e5e5e5;
  }
}

.feedback-form__hint {
  display: none;
}

                   

                           /*768px*/



@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-flow: row wrap;
    padding: 0 60px 40px;
  }

  .feedback-form__block {
    width: 100%;

    &:nth-of-type(1) {
      width: 50%;
      padding-left: 58px;
      padding-bottom: 10px;
    }

    &:nth-of-type(3) {
      width: 50%;
      order: -1;
      padding-bottom: 10px;
    }
    
    &:nth-of-type(4) {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &::after {
      height: 0;
    }
  }
  
  .feedback-form__block:nth-of-type(4) .feedback-form__element {
    flex: 1 1 50%;
    
    &:nth-child(2),
    &:nth-child(3) {
      padding-left: 14.66%;
    }
    
    &:nth-child(4),
    &:nth-child(5) {
      padding-left: 4.63%;
    }
    
    &:nth-child(4) {
      order: 1;
    }
    &:nth-child(3),
    &:nth-child(5) {
      order: 2;
    }
  }

  .feedback-form__block:nth-of-type(1) .feedback-form__title {
    text-align: left;
  }

  .feedback-form__block:nth-of-type(2) .feedback-form__title {
    margin-bottom: 30px;
  }

  .feedback-form__block:nth-of-type(3) .feedback-form__title {
    margin-bottom: 72px;
  }

  .feedback-form__title {
    font-size: 21px;
    margin-bottom: 57px;
  }

  .feedback-form__title--center {
    position: relative;
    width: 100%;
    
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      top: 50%;
      left: 0;
      z-index: -1;
    }
  }
  
  .feedback-form__title--center span {
    display: block;
    width: 400px;
    margin: 0 auto;
    
    background-color: #fff;
  }
  
  .feedback-form__label--big {
    padding-left: 22px;
  }

  .feedback-form__label--big + .feedback-form__input {
    flex-grow: 1;
    width: 100%;
  }

  .feedback-form__element--big {
    display: flex;
    flex-flow: row wrap;
  }

  .feedback-form__error {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 0;
  }
  
  .feedback-form__submit {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .feedback-form__hint {
    content: '';
    position: absolute;
    display: block;
    bottom: 84px;
    right: 60px;
    
    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
    color: $font-color;
    text-transform: uppercase;
    
    & sup {
      content: '';
      position: absolute;
      top: 13px;
      left: -13px;
      font-size: 16px;
    }
  }

  
}

@media (min-width: 1215px) {
  .feedback-form {
    padding: 0 120px;
  }

  .feedback-form__block {

    &:nth-of-type(1) {
      width: 50%;
      padding-left: 80px;
    }

    &:nth-of-type(3) {
      width: 50%;
      order: -1;
      padding-right: 80px;
      
      border-right: 1px solid #dbdbdb;
    }

  }
  
   .feedback-form__block:nth-of-type(4) .feedback-form__element {
    flex: 1 1 auto;
     
    &:nth-child(n+2) {
       padding-left: 0
     }
  }
  
  .feedback-form__hint {
    right: 120px;
  }
}


