.find-hotel {
  padding: 33px 20px 49px;
  font-family: $font-stack;
  text-transform: uppercase;
  text-align: center;
  color: 0;
}

.find-hotel__title {
  margin: 0 0 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.find-hotel__text {
  margin: 0 0 40px;
  font-size: 14px;
  line-height: 24px;
}

.find-hotel__btn {
  display: block;
  width: 280px;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 17px 0 19px;
  color: #fff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #88b6d1;
  }

  &--disabled {
    background-color: #e5e5e5;
    color: inherit;
  }
}
