.introduction {
  box-sizing: border-box;
  margin-top: 389px;
  padding: 43px 32px 0;

  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.introduction__inner {
  border: 1px solid #000;
}

.introduction__title {
  font-size: 18px;
  font-weight: bold;
}

.introduction__text {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
