.introduction {
  box-sizing: border-box;
  margin-top: 389px;
  padding: 39px 20px 0;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.introduction__inner {}

.introduction__title {
  margin: 0 0 19px;
  font-size: 18px;
  font-weight: bold;
}

.introduction__text {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}