.main-index {
  width: 320px;
  margin: 0 auto;

  font-family: $font-stack;

  background-image: url("/img/bg-intro-triangle-mobile.svg"), url("/img/text-sedona-index.svg"), url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 348px, center 90px, top;
  background-size: 320px 57px, 282px 214px, 320px 389px;
  border-top: 1px solid transparent;
}

@media (min-width: 768px) {
  .main-index {
    width: auto;
    min-width: 768px;
    max-width: 1100px;
    background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/text-sedona-index.svg"), url("/img/bg-back-tablet@1x.jpg");
    background-position: center 461px, center 90px, top;
    background-size: 768px 57px, 460px 350px, 768px 518px;
  }
}

@media (min-width: 1280px) {
  .main-index {
    width: 1200px;
    background-image: url("/img/bg-intro-triangle-desktop.svg"), url("/img/text-sedona-index.svg"), url("/img/bg-back-desktop@1x.jpg");
    background-position: center 461px, center 90px, top;
    background-size: 1200px 57px, 460px 350px, 1199px 518px;
  }
}
