.main-form {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;

  font-family: $font-stack;

  background-image: url("/img/bg-intro-triangle-mobile.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 117px, center 51px, center -231px;
  background-size: 101% 57px, 229px 39px, 768px 389px;
  border-top: 1px solid transparent;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .main-form {
    background-image: url("/img/bg-intro-triangle-mobile.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .main-form {
    width: auto;
    min-width: 768px;
    max-width: 1100px;

    background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-tablet@1x.jpg");
    background-position: center 289px, center 93px, top;
    background-size: 101%, 458px 78px, 100% 346px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-form {
      background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: 900px) {
  .main-form {
    background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-form {
      background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-desktop@2x.jpg");
    }
  }
}

@media (min-width: 1215px) {
  .main-form {
    width: 1200px;
    max-width: 1200px;

    background-image: url("/img/bg-intro-triangle-desktop.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-desktop@1x.jpg");
    background-position: center 300px, center 98px, top;
    background-size: 1200px 57px, 458px 78px, 1199px 357px;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-form {
      background-image: url("/img/bg-intro-triangle-desktop.svg"), url("/img/text-sedona.svg"), url("/img/bg-back-desktop@2x.jpg");
    }
  }
}

