.video-block {
  margin-bottom: 66px;
  padding: 35px 0 49px;

  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.video-block__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.video-block__intro {
  margin: 0;
  margin-bottom: 37px;
  padding: 0 25px;

  font-size: 14px;
  line-height: 24px;
  color: $font-color;
}

.video-block__item {
  position: relative;

  width: 320px;
  height: 201px;

  background-image: url("/img/video-mobile@1x.jpg");
}
